.container {
	width: 65%;
	max-width: 520px;
	margin: 0 auto;
	border: 1px solid #2d2d36;
	border-radius: 4px;
}

.calculator {
	width: 100%;
}

.input-area {
	height: 64px;
	background-color: #2d2d36;
	color: #fff;
	font-size: 32px;
	text-align: right;
	padding: 24px;
}

.button-grid {
	display: flex;
	flex-direction: column;
}

.row-1 {
	background-color: #414149;
	color: #fff;
}

.main-row {
	background-color: #606168;
	color: #fff;
}

p {
	width: 100%;
	height: 84px;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	padding: 5px;
	margin: 0;
	border: 1px solid #2d2d36;
}

.special-color {
	background-color: #fe9f0b;
	color: #fff;
}

.row {
	display: flex;
}

.small-box {
	width: 47.4%;
}
